commands:
   01-update-composer:
      command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: COMPOSER_HOME
     value: /root

container_commands:
   01-optimize:
      command: "/usr/bin/composer.phar dump-autoload --optimize"
